<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lab2_CSharpCalc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <Lab2_CSharpCalc.Properties.Settings>
            <setting name="Lab2_CSharpCalc_localhost_MyWebService" serializeAs="String">
                <value>http://localhost/JackWeb/MyWebService.asmx</value>
            </setting>
        </Lab2_CSharpCalc.Properties.Settings>
    </applicationSettings>
</configuration>