<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lab7_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Lab7_Client.Properties.Settings>
            <setting name="Lab7_Client_TestWeb_MyWebService" serializeAs="String">
                <value>http://localhost:56411/MyWebService.asmx</value>
            </setting>
        </Lab7_Client.Properties.Settings>
    </applicationSettings>
</configuration>